.swagger-ui {
    --background-secondary: #fafafa;
    background-color: var(--background-secondary);
}

html {
    background: #fafafa !important;
    box-sizing: border-box;
    filter: contrast(100%) brightness(100%) saturate(100%);
    overflow-y: scroll;
}



